extends baseEmail

block content
  p Hola Arq. #{firstName},
  p Se confirmó su pago y ha sido inscrito al curso:
  p #{courseName}.
  p Modalidad: #{courseModality}.
  p Descripción del curso: 
  p #{courseDescription}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  img(src=`${courseImageUrl}`, style='width:100%')
  p ¡Esperamos que este curso sea de su agrado y aprenda mucho en el!